BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

Cpp11BracedListStyle: true
NamespaceIndentation: None
IndentCaseLabels: true
IndentGotoLabels: false

AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true

ReflowComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
